<html>
<head>
   <% include partials/head.ejs %>
</head>
<body>
    <% include partials/menu.ejs %>
    <br/><br/><br/>
    <div class="container">
    	<h3 class="text-center"><% include partials/headline.ejs %></h3>
	    <br/>
	    <div class="well text-center">
	    	<img src="public/images/main.jpg"  alt="iLoveMyCity" class="img-responsive" />
    	</div>
    </div>
</body>
</html>